body {
  // Reset default css
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  min-height: 100vh;

  background:
    linear-gradient(rgba(241, 168, 168, 0.5), rgba(241, 168, 168, 0.5)),
    url(../images/background-4.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    text-align: center;
    h1 {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 4rem;
      color: #952525;
      transition: width 0.4s ease;

      &::after {
        content: "";
        display: block;
        width: 80%;
        height: 5px;
        background-color: #500606;
        margin: 10px auto;
      }
    }

    div {
      .role {
        font-size: 2rem;
        margin-top: -5px;
        margin-bottom: 10px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      p {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        &:nth-of-type(2) {
          font-size: 1rem;
        }

        &:nth-of-type(3) {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 1.5rem;
          letter-spacing: 7px;
          font-weight: 900;
          color: #982121;
        }
      }

      button {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        background-color: transparent;
        padding: 10px;
        width: 110px;
        border: solid 1.2px;
        border-radius: 3px;
        color: #500606;
        transition: all 0.4s ease;

        &:hover {
          background-color: #500606;
          color: white;
        }
      }
    }
  }
}
