body {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  background-color: #1e293c;
  color: white;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 0;
  line-height: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
