body {
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper {
  background-color: #f9f9f9;
  padding: 25px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;

  section {
    display: flex;
    justify-content: center;
    gap: 20px;
    img {
      flex: 1;
      max-width: 500px;
      height: auto;
      border-radius: 10px;
      object-fit: cover;
    }

    .store-description {
      width: 500px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      line-height: 1.5;
      text-align: justify;

      h1 {
        color: #313e5a;
        margin-top: 0;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;

      img,
      .store-description {
        width: 100%;
        max-width: 100%;
      }

      .store-description {
        text-align: left;
      }
    }
  }
}
