body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #050a30;
  img {
    float: left;
    height: 90px;
    width: 100px;
    margin: 10px;
    margin-left: 50px;
  }

  nav {
    float: right;
    line-height: 100px;
    margin-right: 100px;

    & > a {
      text-decoration: none;
      display: inline-block;
      padding-right: 50px;
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.clear-float {
  clear: both;
}

main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
