.wrapper {
  background-color: #ffcc00;
  width: 300px;
  margin: 20px auto;
  border: 1px solid orangered;
  border-radius: 10px;
  padding: 15px 0;
  text-align: center;

  i {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    margin-right: 10px;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
}
