* {
  border: 0;
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  color: white;
  background-color: #2c3d50;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .footer-social-media {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: bold;
  }
}
