* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.e-comerce {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 950px;
  margin: 0 auto;
  margin-bottom: 50px;

  border: 1px rgb(255, 255, 255) solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  img {
    flex: 1;
    width: 500px;
    height: 330px;
    object-fit: cover;
  }

  .description {
    width: 450px;
    padding: 20px;

    text-align: justify;
    line-height: 1.8;

    & > h2 {
      margin-bottom: 10px;
    }
  }
}

.dashboard-erp {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 950px;
  margin: 0 auto;
  border: 1px rgb(255, 255, 255) solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  img {
    flex: 1;
    width: 500px;
    height: 330px;
    object-fit: cover;
    order: 2;
  }

  .description {
    width: 450px;
    padding: 20px;

    text-align: justify;
    line-height: 1.8;

    & > h2 {
      margin-bottom: 10px;
    }
  }
}
